// Custom styles.
.post-block{
    background: transparent;
}
.header-inner{
    background: transparent;
}
.content-wrap{
    background: transparent;
}
.pagination {
    background: transparent !important;
}
.pagination .page-number.current {
    background: rgba(0, 122, 204, 0.4);
}
.sidebar{
    background: transparent;
}
.sidebar-inner{
    background: transparent;
}
.comments{
    background: transparent;
}
.textarea-wrapper {
    background: transparent;
}
.menu-item-active a{
    background: rgba(0, 86, 216, 0.75);
    border-bottom-color:transparent;
    color: #f5f7f9;
}
.menu .menu-item a:hover{
    background: rgba(0, 86, 216, 0.75);
    border-bottom-color:transparent;
    color: #f5f7f9;
}
.site-meta{
    background: url(/images/title.png) center center no-repeat;
    background-color: #222;
}
.back-to-top {
    background: rgba(0, 86, 216, 0.75);
    color: #f5f7f9;
    opacity: 1;
}
.site-author-image{
    max-width: 180px;
}
#reward-button {
    border:solid 2px rgba(0, 86, 216, 0.75);
    color: #555;
    background: transparent;
    border-radius: 3px;
}
#reward-button:hover {
    color: #f5f7f9;
    background: rgba(0, 86, 216, 0.75);
    border-radius: 3px;
}
.post-copyright{
    border-left:none;
    background-color:transparent;
}
.posts-expand .post-title-link::before{
    background: rgba(0, 86, 216, 0.75);
}
.tag-cloud a:hover{
    color: rgba(0, 86, 216, 1)!important;
}
.tag-cloud a{
    border-bottom: none;
}
a{
    border-bottom-color: rgba(0, 86, 216, 0.75);
}
a:hover, span.exturl:hover{
    color: rgba(0, 86, 216, 0.75);
    border-bottom-color: rgba(0, 86, 216, 1);
}
hr{
    margin: 50px 0px;
    height: 1px;
    border: none;
    background-color:transparent;
    background-image: linear-gradient(to right, transparent, rgba(0, 86, 216, 0.75), transparent);
}
.post-body figure figcaption{
    display: none;
}
#todo li { line-height: 2; }
#todo .md-task-list-item { position: relative; list-style-type: none; }
#todo .task-list-item.md-task-list-item { padding-left: 0px; }
#todo .md-task-list-item > input { position: absolute; top: 0px; left: 0px; margin-left: -1.2em; margin-top: calc(1em - 10px); border: none; }

#todo .task-list-item input { width: 1.25rem; height: 1.25rem; display: block; -webkit-appearance: initial; left: -18px; }
#todo .task-list-item input:focus { outline: none; box-shadow: none; }
#todo .task-list-item input::before { border: 1px solid #888888; border-radius: 1.2rem; width: 1.2rem; height: 1.2rem; background: transparent; content: " "; transition: background-color 200ms ease-in-out; display: block; }
#todo .task-list-item input:checked::before, .task-list-item input[checked]::before { background: rgb(212, 212, 212); border-width: 1px; display: inline-block; transition: background-color 200ms ease-in-out; }
#todo .task-list-item input:checked::after, .task-list-item input[checked]::after { opacity: 1; }
#todo .task-list-item input::after { transition: opacity 0.05s ease-in-out; transform: rotate(-45deg); position: absolute; top: 0.325rem; left: 0.28125rem; width: 0.6375rem; height: 0.4rem; border-width: 0px 0px 2px 2px; border-bottom-style: solid; border-left-style: solid; border-bottom-color: rgb(102, 102, 102); border-left-color: rgb(102, 102, 102); border-image: initial; border-top-style: initial; border-top-color: initial; border-right-style: initial; border-right-color: initial; content: " "; opacity: 0; }
#todo .task-list-done { text-decoration: line-through; color: #888888; }

.footnotes ol {
  counter-reset: list;
}
.footnotes ol li {
  list-style-type: none;
  position: relative;
  line-height: 3.8
}
.footnotes ol li:before {
  counter-increment: list;
  content: "[" counter(list,decimal) "] ";
  position: absolute;
  left: -25px;
}
.footnote-ref{
    color: rgba(0,86,216,0.75);
    border-bottom-color: transparent;
}
.footnote-ref:hover{
    color: rgba(0,86,216,1);
    border-bottom-color: transparent;
}
#atstbx{
    max-width: 800px;
    margin: 0 auto;
}
#comments .vwrap{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12),
                0 3px 1px -2px rgba(0,0,0,0.06),
                0 1px 5px 0 rgba(0,0,0,0.12),
                0 -1px 0.5px 0 rgba(0,0,0,0.09);
}
#comments .vwrap:hover{
    box-shadow: 0 0 10px 4px rgba(0,86,216,0.35);
}
#comments .vwrap .vheader .vinput{
    border-bottom-color: #888888;
}
#comments .vwrap .vheader .vinput:hover{
    border-bottom: solid 1px rgba(0,86,216,0.75);
    box-shadow: 0 5px 2px -2px rgba(0,86,216,0.35);
}
#comments .vbtn{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12),
            0 3px 1px -2px rgba(0,0,0,0.06),
            0 1px 5px 0 rgba(0,0,0,0.12),
            0 -1px 0.5px 0 rgba(0,0,0,0.09);
    background: transparent;
}
#comments .vbtn:hover{
    box-shadow: 0 0 10px 4px rgba(0,86,216,0.35);
    background: transparent;
    border-color: transparent;
}
#comments .vlist .vsys{
    background: rgba(0,86,216,0.6);
    color: #f5f7f9;
}
#comments .vlist .vat{
    color: #555555;
}
#comments .vlist .vat:hover{
    color: rgba(0,86,216,1);
}
#comments .info{
    display: none;
}


.invalid{
    background: rgba(100, 100, 100, 0.3)!important;
}
